.heading {
    color: green;
}

.description {
    color: greenyellow;
}

#ingredients {
    color:mediumblue
}

#steps {
    color: sandybrown;
}

img {
    height: auto;
    width: 150px;
}

head {
    font-family: 'Helvetica', Times, serif;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    background-color: dimgray;
}